.wrap_even {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
  height: 100vh;
  background-color: chartreuse;
}

.wrap_odd {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
  height: 100vh;
  background-color: rgb(0, 89, 255);
}

.counter_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 300px;
  border: 3px solid #333;
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  margin-top: 25px;
  border: 3px solid #333;
}

.type_container_odd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  margin-top: 25px;
  background-color: rgb(241, 107, 66);
  border: 3px solid #333;
}

.type_container_even {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  margin-top: 25px;
  background-color: rgb(66, 241, 104);
  border: 3px solid #333;
}

.count {
  font-size: 25px;
  font-weight: bold;
}

.type {
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 50px;
}

.button {
  width: 75px;
  height: 35px;
  font-size: 16px;
  background-color: #fff;
  border: 3px solid #333;
  border-radius: 18% 18% 18% 18%;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(197, 197, 197);
}
